* {
  margin:0;
  padding:0;
}

.wrapper {
  width: 100%
}

.img-banner {
  display: none;
}

.img-info h2 {
  padding: 30px 30px 20px;
  font-family: arial;
  font-size: 50px;
  color: #111;
  line-height: 44px;
}

img-me {
  width: 100%
}

@media only screen and () {
  .img-banner {
    display: block;
    width: 100%;
    padding-bottom: 30px;

  }

  .wrapper {

  }

}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}